/* 375x812 */
.main-container {
    background: url(https://images.unsplash.com/photo-1578558238937-28de59d796ba?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    background: rgba(250, 249, 255, 0.8);
   
    
  }

  h1 {
    margin: 0;
    font-size: 30px;
    padding: 10px;
    font-family: 'Alfa Slab One', cursive;
    background: linear-gradient(90deg, #15195e, #111e8b,#5e75fa, #4a4ec5, #2953fa);
    background-size: 80%;
    animation: animate 30s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    @keyframes animate {
      0% {
          background-position: -500%;
        }
      100% {
          background-position: 500%;
        }
    }

  h3 {
    margin: 0;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif; 
    color:#4d437f; 
  }

  .footer-container {
    position: absolute;
    bottom: 10px;    
  }

  .header-container {
    position: absolute;
    top: 10px;
  }
  @media only screen and (min-width: 704px){

    h1 {
      font-size: 50px;
    }
    h3 {
      font-size: 40px;
    }
  }

 
  @media only screen and (min-width: 1074px) {
    h1 {
      font-size: 110px;
      padding: 0,30px;
    }
    h3 {
      font-size: 60px;
    }
  }