/* 375x812 */
.main-container {
    background: url(https://images.unsplash.com/photo-1506970915693-0b090b5cc6dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background: rgb(114, 140, 77, 0.85);

  }

  h1 {
    margin: 0;
      font-size: 55px;
      padding: 10px;
      font-family: 'Yellowtail', cursive;
      background: linear-gradient(90deg, #bb94ee, rgb(118, 71, 150), rgb(66, 53, 75), #4a2673, rgb(165, 147, 212));
        background-size: 80%;
        animation: animate 30s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }

  

  h3 {
    margin: 0;
    font-size: 30px;
    font-family: 'Yellowtail', cursive; 
    color: rgb(66, 53, 75); 
  }

  .footer-container {
    position: absolute;
    bottom: 10px;    
  }
  @media only screen and (min-width: 376px){

    h1 {
      font-size: 70px;
    }
    h3 {
      font-size: 40px;
    }
  }

  /* tablet view */
  /* @media only screen and (min-width: 480px){
    h1 {
      font-size: 100px;
      display: flex;
      flex-wrap: nowrap;
    }
    h3 {
      font-size: 50px;
    }
  } */

  /* desktop view */
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 110px;
      padding: 0,30px;
    }
    h3 {
      font-size: 60px;
    }
  }