/* 375 */
header {
    display: none;
}

nav {
    display: block;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

a {
 color: rgba(93, 56, 110, 0.7); 
  
}

.nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 3%;
    margin-top: 3%;
}


#myDropdown {
   display: flex;
   flex-direction: column;
   position: absolute;
   min-width: 90px;
   background-color:  rgb(154, 154, 177, 0.7);
   font-family: 'Roboto', sans-serif;
   right: 3%;
   top: 58px;
}

a {
padding: 8px;
font-size: 20px;
}

i {
   font-size: 25px;
}

.dropbtn {
   display: flex;
   padding: 8px;
   
}




@media only screen and (min-width: 376px) {

}

@media only screen and (min-width: 768px) {

}