/* 375 */
header {
    display: none;
}

nav {
    display: block;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

a {
 color:  rgb(66, 53, 75); 
  
}

.nav-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 3%;
    margin-top: 3%;
}


#myDropdown {
   display: flex;
   flex-direction: column;
   position: absolute;
   text-align: right;
   min-width: 90px;
   background: rgba(160, 86, 160, 0.3);
   font-family: 'Kiwi Maru', serif;
   right: 3%;
   top: 60px;
}

a {
padding: 8px;
font-size: 20px;
}

i {
   font-size: 25px;
}

.dropbtn {
   display: flex;
   padding: 8px;
   
}




@media only screen and (min-width: 376px) {

}

@media only screen and (min-width: 768px) {
    header {
        display: block;
        width: 100%;
    }
    
    .button-container {
        display: flex;
        justify-content: space-evenly;
        align-content: flex-start;
        width: 100vh;
        margin: 10px;
    }
    
    a {
        text-decoration: none;
        color: rgb(66, 53, 75);
    }
    
    a:visited {
        color: rgb(66, 53, 75);;
    }
    
    button {
        background: rgba(255, 255, 255, .5);
        border: 3px solid rgb(66, 53, 75);;
        color: rgb(66, 53, 75);
        padding: 10px 15px;
        margin: 10px;
        font-size: 22px;
        font-family: 'Kiwi Maru', serif;
        border-radius: 10px;
        cursor: pointer;
    }
    
    button:hover {
        background: rgba(255, 255, 255, .2);
    }
    
    nav {
        display: none;
    }
}