.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    color:  rgb(61, 31, 92);
    font-family: 'Kiwi Maru', serif;
    background: rgb(114, 140, 77);
    border-radius: 10px;
    
}
.fab {
    color:rgb(9, 65, 121);
    padding: 5px;
}
a {
 color:  rgb(245, 240, 248);
 text-decoration: none;

}

a:hover {
    color: black;
}