.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    color:  rgb(61, 31, 92);
    font-family: 'Montserrat', sans-serif;
    background: rgba(77, 67, 127, 0.8);
    border-radius: 10px;
    padding: 10px;
    
}
.fab .far {
    color:black;
    padding: 5px;
}
.fab .far:hover {
    color: white;
}

a {
 color:  rgb(245, 240, 248);
 text-decoration: none;
}

a:hover {
    color: black;
}