<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="title-container">
        <div class="bio">
            <img src= "assets/resumephoto.jpg" alt="morton" width="175" height="200">
            <p>Learner | Designer | Hard-Worker | Hard-Worker | Contributor | Creative-Thinker<br>
                I am driven by creating and expeimenting with possibilities. I recognize the input<br>
            and strengths that others bring to the table, and I'm committed to adding value<br>
            to every project.</p>
        </div>
        &nbsp; 
        <div class="career">
                <p> I've been a middle school teacher, library innovator, motivator,<br>
                    and all around do-er for most of my life. My best work happens<br>
                    when I'm empowered to  make change through creative<br>
                    problem-solving. I'm a professional who is experienced in<br>
                    learning to adapt in an ever-evolving workplace.</p>
                <img src= "assets/career.jpg" alt="career" width="270" height="200">
        </div>
        &nbsp; 
        <div class="personal">
            <img src= "assets/family.jpg" alt="morton-family" width="175" height="200">
            <p>I balance a big life made up of family, work, friends,and a variety of interests, such<br>
            as keeping up with my ambitious Goodreads goal, taking road trips, <br>
            making things by hand, and walking my anti-social dog.</p>
        </div>  
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>
