<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="title-container">
        <div class="bio">
            <div class="hover-info">Qualities</div>
            <div class="hide">Learner | Designer | Hard-Worker | Creative-Thinker<br>
                I am driven by creating and expeimenting with possibilities. I recognize the input and
                strengths that others bring to the table, and I'm committed to adding value to every project.<br>
                </div>
            <img src= "assets/profile175x200.jpg" alt="morton" width="175" height="200">
            <p>Learner | Designer | Hard-Worker | Contributor | Creative-Thinker<br>
            I am driven by creating and expeimenting with possibilities. I recognize the input and<br>
            strengths that others bring to the table, and I'm committed to adding value to every project.
            </p>
            
        </div>
        &nbsp; 
        <div class="career">
            <p> I've been a middle school teacher, library innovator, motivator, and all <br>
                around do-er for most of my life. My best work happens when I'm  <br>
                empowered to make change through creative problem-solving. I'm a <br>
                professional who is experienced in learning to adapt in an ever-evolving <br>
                workplace.
               </p>
            <img src= "assets/career.jpg" alt="career" width="290" height="200">
            <div class="hover-info">Career</div>
            <div class="hide">I've been a middle school teacher, library innovator, motivator, and all
                around do-er for most of my life. My best work happens when I'm 
                empowered to make change through creative problem-solving. I'm a 
                professional who is experienced in learning to adapt in an ever-evolving 
                workplace.</div>
                
        </div>
        &nbsp; 
        <div class="personal">
            <div class="hover-info">Balance</div>
            <div class="hide">I balance a big life made up of family, work, friends,and a variety of interests, such
                as keeping up with my ambitious Goodreads goal, taking road trips, learning to make
                new things, and walking my anti-social dog. </div>
            <img src= "assets/family.jpg" alt="morton-family" width="200" height="200">
            <p>I balance a big life made up of family, work, friends,and a variety of interests, such<br>
            as keeping up with my ambitious Goodreads goal, taking road trips, learning to make<br>
            new things,and walking my anti-social dog.</p>
        </div>  
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>
