.main-container {
    background: url(https://images.unsplash.com/photo-1555945858-78be85a438f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: absolute;
    top: 10px;
  }

  .footer-container {
    position: absolute;
    bottom: 10px;    
  }

  