<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="title-container">
        <div class="memory-container">
            <img src= "https://lh4.googleusercontent.com/_Vx4bhhN8bcpf1WRSuSiWKG0Vkj7VdtZqPOOXlQ8neUncCER4QsZb-VIMt2rQiVs0dNmTijK8WiyKxkiU4dH0Z8" alt="memory" width="300" height="325"> 
            <a href="https://camorton.github.io/MortonMemory/">Memory Game</a> 
        </div>
        <div class="flixfinder-container">
            <img src= "https://lh6.googleusercontent.com/rQW4NwLP1-9e3rdVLcD3Dw3eojUE-SLVNVviMedyiIwKBzP8Oc_hDnfQf2W-2ddBM99fgcCV3NCntSujZQX08Ms" alt="flixfinderImage" width="300" height="325">
            <a href="https://jfullone.github.io/astronomy-final-project/">FlixFinder</a>
        </div>
        <div class="skyview-container">
            <img src= "https://lh6.googleusercontent.com/VODnOdRxr8UA0vIlKUDCi3S5ZWAcQV3AlavgEl6id5VmlFp-q-e1QA1D64VMsYFVVhfJGcsmpkE_NlKKADRT9Zg" alt="skyviewImage" width="300" height="325">
            <a href="https://jfullone.github.io/astronomy-final-project/">SkyView App</a>
        </div>
        <div class="footer-container">
            <app-footer></app-footer>
        </div>
    </div>
    
</div>