<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="title-container">
        <div class="memory-container">
            <img src= "https://lh4.googleusercontent.com/58Xw4pmTTn56vmhdg6VISnrABaqnIfMlWqRZZB2gFy3VU2gjEMFa0UXdYvBtFCyYWS0znEkiXEw_QOJA5D1s7bs" alt="memory" width="300" height="325"> 
            <a href="https://camorton.github.io/MortonMemory/">Memory Game</a> 
        </div>
        <div class="skyview-container">
            <img src= "https://lh6.googleusercontent.com/VODnOdRxr8UA0vIlKUDCi3S5ZWAcQV3AlavgEl6id5VmlFp-q-e1QA1D64VMsYFVVhfJGcsmpkE_NlKKADRT9Zg" alt="skyviewImage" width="300" height="325">
            <a href="https://jfullone.github.io/astronomy-final-project/">SkyView App</a>
        </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>