.main-container {
    background: url(https://images.unsplash.com/photo-1550895030-823330fc2551?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: absolute;
    top: 10px;
  }

  .footer-container {
    position: absolute;
    bottom: 10px;    
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    height: 60%;
    background: rgba(74, 78, 197, 0.45);
    border-radius: 10px;

  }