<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="title-container">
        <div class="memory-container">
            <img src= "assets/MemoryGameThumbnail.png" alt="memory" width="300" height="325"> 
            <a href="https://camorton.github.io/MortonMemory/">Memory Game</a> 
        </div>
        <div class="flixfinder-container">
            <img src="assets/flixfinder.png" alt=flix width=300 height=325>
            <a href="https://camorton.github.io/flixfinder/">Angular API Project: FlixFinder</a>
        </div>
        <div class="skyview-container">
            <img src= "assets/SkyViewThumbnail.png" alt="skyviewImage" width="300" height="325">
            <a href="https://jfullone.github.io/astronomy-final-project/">Angular API Project: SkyView App</a>
        </div>
        <div class="footer-container">
            <app-footer></app-footer>
        </div>
    </div>
    
</div>