.main-container {
    background: url(https://images.unsplash.com/photo-1541261248599-cef2fcabf912?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: absolute;
    top: 10px;
  }

  .footer-container {
    position: fixed;
    bottom: 10px;    
  }
  .skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-around;
    background-color: rgba(205, 208, 229, 0.9);
    height: 70%;
   }

  .skill1, .skill3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: rgba(21, 25, 94);
    padding: 10px, 10px;
    height: 120px;

  }

  .skill2, .skill4  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: rgba(21, 25, 94);
    padding: 10px, 10px;
    height: 120px;

  }

  .JSexample{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 160px;
    justify-content: center;
  } 
  
  .example1, .example2, .example3, .example4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .NGexample1, .NGexample2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
  }

  .example4 {
    padding: 20px;
  }

  h2 {
    margin-left: 3%;

  }

  h3 {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    color: white;
  }
  h3:hover {
    color:gray; 
  }

  @media only screen and (max-width: 924px) {
    .skill1, .skill3, .skill2, .skill4 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      font-family: 'Montserrat', sans-serif;
      background: rgba(21, 25, 94);
      padding: 10px;
      height: auto;
    }
    h2 {
      justify-content: center;
      align-items: flex-start;
      font-family: 'Alfa Slab One', cursive;
      font-weight: lighter;
      font-size: 40px;
      }

    .JSexample{
      margin-left: 0px;
      padding-top: 10px;
      } 
    
    .example1, .example2, .example3, .example4 {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 10px;
    }
    .NGexample1, .NGexample2 {
      padding-left: 0px;
      padding-bottom: 40px;
    }
    .skills-container {
      display: block;
      align-content: top;
      justify-content: center;
      }
   .main-container {
     overflow: scroll;
         
   } 
  
  } 
  
