<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="skills-container">
       <div class="skill1">
        One skill here     
        </div>&nbsp;
        <div class="skill2">
        Second skill here     
        </div>&nbsp;
        <div class="skill3">
        Third skill here     
        </div>&nbsp;
        <div class="skill4">
        Fourth skill here     
        </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>
