<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="skills-container">
        
        <div class="skill1">
        <h2>HTML and CSS</h2>
        <div class="example1">
            <img src="assets/Assessment1.png" alt="form" width="100" height="75">
            <a href="https://github.com/gc-submissions/assesment-1-camorton"><h3>Form Practice</h3></a>
        </div> 
        <div class="example2">
            <img src="assets/Flexbox-Exercise.png" alt="flexbox" width="100" height="75">
            <a href="https://camorton.github.io/Exercise3Flexbox/"><h3>Flexbox Practice</h3></a>
        </div> 
        <div class="example3">
            <img src="assets/Grid.png" alt="grid" width="100" height="75">
            <a href="https://github.com/camorton/Exercise4Grid-b"><h3>Grid Practice</h3></a>
        </div>
        <div class="example4">
            <img src="assets/chirpus.png" alt="mediaquery" width="100" height="75">
            <a href="https://camorton.github.io/mediaQueryPracticeLab/"><h3>Media Query Practice</h3></a>
        </div>          
        </div>&nbsp;
        <div class="skill2">
            <h2>JavaScript</h2>
            <div class="example1">
                <img src="assets/JS-Exercises.png" alt="javascript" width="100" height="75">
                <a href="https://github.com/camorton/JS-Exercises"><h3>Javascript Practice Exercises</h3></a>
            </div> 
            </div>&nbsp;
        <div class="skill3">
            <h2>DOM</h2>
            <div class="example1">
                <img src="assets/DOM-Action-Button.png" alt="action" width="100" height="75">
                <a href="https://camorton.github.io/DOM-Action-Button/"><h3>Action Button</h3></a>
            </div> 
            <div class="example2">
                <img src="assets/Mouse.png" alt="mouse" width="100" height="75">
                <a href="https://camorton.github.io/Exercise3Flexbox/"><h3>Pointer Chase</h3></a>
            </div> 
            <div class="example3">
                <img src="assets/domgrid.png" alt="grid" width="100" height="75">
                <a href="https://camorton.github.io/domgrid/"><h3>Grid Practice</h3></a>
            </div>
            <div class="example4">
                <img src="assets/MakeMoneyThumbnail.png" alt="money" width="100" height="75">
                <a href="https://camorton.github.io/mediaQueryPracticeLab/"><h3>Make Money</h3></a>
            </div>          
            </div>&nbsp;
        <div class="skill4">
            <h2>Angular and React</h2>
            <div class="example1">
                <img src="assets/Social-Posts.png" alt="form" width="100" height="75">
                <a href="https://github.com/camorton/Social-Posts/tree/master/src/app"><h3>Angular Social Posts Lab</h3></a>
            </div> 
            <div class="example2">
                <img src="assets/react-workshop.png" alt="react" width="100" height="75">
                <a href="https://github.com/camorton/React-Exercises"><h3>React Exercises</h3></a>
            </div> 
                   
        </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>
