<div class="main-container">
    <div class="header-container">
    <app-header></app-header>
    </div>
    <div class="skills-container">
        <div class="one">HTML and CSS</div>
        <div class="two">
            <img src="assets/Assessment1.png" alt="form" width="200" height="150">
            <a href="https://github.com/gc-submissions/assesment-1-camorton"><h3>Form Practice</h3></a>
        </div>
        <div class="three">
            <img src="assets/Flexbox-Exercise.png" alt="flexbox" width="200" height="150">
            <a href="https://camorton.github.io/Exercise3Flexbox/"><h3>Flexbox Practice</h3></a>
        </div>
        <div class="four">
            <img src="assets/Grid.png" alt="grid" width="200" height="150">
            <a href="https://github.com/camorton/Exercise4Grid-b"><h3>Grid Practice</h3></a>
        </div>
        <div class="five">
            <img src="assets/chirpus.png" alt="mediaquery" width="200" height="150">
            <a href="https://camorton.github.io/mediaQueryPracticeLab/"><h3>Media Query Practice</h3></a>
        </div>
        <div class="six">JavaScript</div> 
        <div class="seven">
            <img src="assets/JS-Exercises.png" alt="javascript" width="200" height="150">
            <a href="https://github.com/camorton/JS-Exercises"><h3>JS Practice Exercises</h3></a>
        </div>
        <div class="eight">DOM</div>
        <div class="nine">
            <img src="assets/DOM-Action-Button.png" alt="action" width="200" height="150">
            <a href="https://camorton.github.io/DOM-Action-Button/"><h3>Action Button</h3></a>
        </div>
        <div class="ten">
            <img src="assets/Mouse.png" alt="mouse" width="200" height="150">
            <a href="https://camorton.github.io/Exercise3Flexbox/"><h3>Pointer Chase</h3></a>
        </div>
        <div class="eleven">
            <img src="assets/domgrid.png" alt="grid" width="200" height="150">
            <a href="https://camorton.github.io/domgrid/"><h3>Grid Practice</h3></a>
        </div>
        <div class="twelve">
            <img src="assets/MakeMoneyThumbnail.png" alt="money" width="200" height="150">
            <a href="https://camorton.github.io/mediaQueryPracticeLab/"><h3>Make Money</h3></a>
        </div>
        <div class="thirteen">Angular and React</div>
        <div class="fourteen">
            <img src="assets/Social-Posts.png" alt="form" width="200" height="150">
            <a href="https://github.com/camorton/Social-Posts/tree/master/src/app"><h3>Angular Social Posts Lab</h3></a>
        </div>
        <div class="fifteen">
            <img src="assets/react-workshop.png" alt="react" width="200" height="150">
            <a href="https://github.com/camorton/React-Exercises"><h3>React Exercises</h3></a>
        </div>
  
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
</div>
