.main-container {
    background: url(https://images.unsplash.com/photo-1541261248599-cef2fcabf912?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header-container {
    position: absolute;
    top: 10px;
  }

  .footer-container {
    position: fixed;
    bottom: 10px;    
  }
 
  .skills-container {
    display: grid;
    grid-template-columns: auto(1fr);
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);  
    justify-content: center;
    overflow: auto; 
    background: rgba(21, 25, 94);
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 10px;
  }

  .one, .six, .eight, .thirteen {
    font-family: 'Alfa Slab One', cursive;
    font-weight: lighter;
    font-size: 40px;
    color:aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .two, .three, .four, .five, .seven, .nine, .ten, .eleven, .twelve, .fourteen, .fifteen {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  a {
    color: rgb(164, 166, 211);
    text-decoration: none;
  }

  a:hover {
    color: black;
  }

  .one, .thirteen {
    font-size: 33px;
  }

  @media only screen and (min-width:861px){
    .skills-container {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      grid-auto-rows: minmax(200px, auto); 
      margin-top: 10%; 
      padding: 20px;
      justify-content: center;
      overflow: auto; 
      width: 80%; 
       }
    
    .one {
      grid-column: 1;
      grid-row: 1;
    }
    .two {
      grid-column: 2;
      grid-row: 1;
    }
    .three {
      grid-column: 3;
      grid-row: 1;
    }
    .four {
      grid-column: 2;
      grid-row: 2;
    }
    .five {
      grid-column: 3;
      grid-row: 2;
    }
    .six {
      grid-column: 1;
      grid-row: 3;
    }
    .seven {
      grid-column: 2;
      grid-row: 3;
    }
    .eight {
      grid-column: 1;
      grid-row: 4;
    }
    .nine {
      grid-column: 2;
      grid-row: 4;
    }
    .ten {
      grid-column: 3;
      grid-row: 4;
    }
    .eleven {
      grid-column: 2;
      grid-row: 5;
    }
    .twelve {
      grid-column: 3;
      grid-row: 5;
    }
    .thirteen {
      grid-column: 1;
      grid-row: 6;
    }
    .fourteen {
      grid-column: 2;
      grid-row: 6;
    }
    .fifteen {
      grid-column: 3;
      grid-row: 6;
    }
    .one, .thirteen {
      font-size: 40px;
    }
  } 
  
@media only screen and (min-width:1500px){
  .skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    grid-auto-rows: minmax(200px, auto); 
    margin-top: 10%; 
    padding: 20px;
    justify-content: center;
    overflow: auto; 
    width: 80%; 
     }
  
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 2;
    grid-row: 1;
  }
  .three {
    grid-column: 3;
    grid-row: 1;
  }
  .four {
    grid-column: 4;
    grid-row: 1;
  }
  .five {
    grid-column: 5;
    grid-row: 1;
  }
  .six {
    grid-column: 1;
    grid-row: 2;
  }
  .seven {
    grid-column: 2;
    grid-row: 2;
  }
  .eight {
    grid-column: 1;
    grid-row: 3;
  }
  .nine {
    grid-column: 2;
    grid-row: 3;
  }
  .ten {
    grid-column: 3;
    grid-row: 3;
  }
  .eleven {
    grid-column: 4;
    grid-row: 3;
  }
  .twelve {
    grid-column: 5;
    grid-row: 3;
  }
  .thirteen {
    grid-column: 1;
    grid-row: 4;
  }
  .fourteen {
    grid-column: 2;
    grid-row: 4;
  }
  .fifteen {
    grid-column: 3;
    grid-row: 4;
  }
  .one, .thirteen {
    font-size: 40px;
  }
}
  


@media only screen and (min-width:1600px){
  .skills-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
    grid-auto-rows: minmax(200px, auto); 
    margin-top: 10%; 
    padding: 20px;
    justify-content: center;
    overflow: auto; 
    width: 90%; 
     }
}
